#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}