#s-1489f61d-be16-44cd-a29e-31718fa87f5f > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1600px;
  min-width: 1600px;
  min-height: 1200px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Rectangle_1 {
  position: absolute;
  top: 355px;
  left: 150px;
  width: 416px;
  height: 41px;
  background-color: #434343;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Dynamic_Panel_1 {
  position: absolute;
  top: 400px;
  left: 150px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Panel_1 {
  width: 420px;
  height: 700px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Table_1 {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 401px;
  height: 1001px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_1 {
  padding-left: 12px;
  width: 87px;
  height: 99px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_4 {
  padding-left: 12px;
  width: 287px;
  height: 99px;
  background-color: #434343;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: Raleway-Bold,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Raleway-Bold,Arial;
  font-size: 18.0pt;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Raleway-Bold,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_4 span#rtr-s-Text_cell_4_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Raleway-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_2 {
  padding-left: 12px;
  width: 87px;
  height: 99px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_5 {
  padding-left: 12px;
  width: 287px;
  height: 99px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Raleway-Bold,Arial;
  font-size: 18.0pt;
  line-height: 18.0pt;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_5 span#rtr-s-Text_cell_5_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Raleway-Regular,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_3 {
  padding-left: 12px;
  width: 87px;
  height: 99px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_6 {
  padding-left: 12px;
  width: 287px;
  height: 99px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_7 {
  padding-left: 12px;
  width: 87px;
  height: 99px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_8 {
  padding-left: 12px;
  width: 287px;
  height: 99px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_9 {
  padding-left: 12px;
  width: 87px;
  height: 99px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_10 {
  padding-left: 12px;
  width: 287px;
  height: 99px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_11 {
  padding-left: 12px;
  width: 87px;
  height: 99px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_11 span#rtr-s-Text_cell_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_12 {
  padding-left: 12px;
  width: 287px;
  height: 99px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_12 span#rtr-s-Text_cell_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_13 {
  padding-left: 12px;
  width: 87px;
  height: 99px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_13 span#rtr-s-Text_cell_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_14 {
  padding-left: 12px;
  width: 287px;
  height: 99px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_14 span#rtr-s-Text_cell_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_15 {
  padding-left: 12px;
  width: 87px;
  height: 99px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_15 span#rtr-s-Text_cell_15_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_16 {
  padding-left: 12px;
  width: 287px;
  height: 99px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_16 span#rtr-s-Text_cell_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_17 {
  padding-left: 12px;
  width: 87px;
  height: 99px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_17 span#rtr-s-Text_cell_17_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_18 {
  padding-left: 12px;
  width: 287px;
  height: 99px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_18 span#rtr-s-Text_cell_18_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_19 {
  padding-left: 12px;
  width: 87px;
  height: 99px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_19 span#rtr-s-Text_cell_19_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_20 {
  padding-left: 12px;
  width: 287px;
  height: 99px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_cell_20 span#rtr-s-Text_cell_20_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Image_1 {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Panel_2 {
  width: 420px;
  height: 717px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Image_2 {
  position: absolute;
  top: 355px;
  left: 571px;
  width: 145px;
  height: 145px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_1 {
  position: absolute;
  top: 412px;
  left: 762px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Raleway-Bold,Arial;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Raleway-Bold,Arial;
  font-size: 20.0pt;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Raleway-Bold,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Image_3 > svg {
  width: 24px;
  height: 24px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Image_3 {
  position: absolute;
  top: 365px;
  left: 536px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Image_18 > svg {
  width: 24px;
  height: 24px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Image_18 {
  position: absolute;
  top: 365px;
  left: 500px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Image_19 > svg {
  width: 24px;
  height: 24px;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Image_19 {
  position: absolute;
  top: 365px;
  left: 159px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Input_1 {
  position: absolute;
  top: 355px;
  left: 150px;
  padding-left: 5px;
  width: 373px;
  height: 43px;
  background-color: #434343;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: text;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 16.0pt;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f #s-Input_1 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Raleway-Regular,Arial;
  font-size: 16.0pt;
  text-shadow: none;
}
#s-1489f61d-be16-44cd-a29e-31718fa87f5f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}