#s-6c9a43a3-2465-4ed5-8cfc-bc802f7ecad2 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c9a43a3-2465-4ed5-8cfc-bc802f7ecad2 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c9a43a3-2465-4ed5-8cfc-bc802f7ecad2 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c9a43a3-2465-4ed5-8cfc-bc802f7ecad2 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c9a43a3-2465-4ed5-8cfc-bc802f7ecad2 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c9a43a3-2465-4ed5-8cfc-bc802f7ecad2 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c9a43a3-2465-4ed5-8cfc-bc802f7ecad2 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c9a43a3-2465-4ed5-8cfc-bc802f7ecad2 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c9a43a3-2465-4ed5-8cfc-bc802f7ecad2 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c9a43a3-2465-4ed5-8cfc-bc802f7ecad2 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c9a43a3-2465-4ed5-8cfc-bc802f7ecad2 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c9a43a3-2465-4ed5-8cfc-bc802f7ecad2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}