#s-abde5738-15fd-4060-82e3-82e04eb2d69e > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1600px;
  min-width: 1600px;
  min-height: 1200px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Rectangle_3 {
  position: absolute;
  top: 290px;
  left: 0px;
  width: 1600px;
  height: 371px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c442a596-812a-449e-85bd-a5b1270b4863.jpg');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Image_3 {
  position: absolute;
  top: 665px;
  left: 1107px;
  width: 344px;
  height: 290px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Group_1 {
  position: absolute;
  top: 355px;
  left: 150px;
  width: 251px;
  height: 250px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Group_2 {
  position: absolute;
  top: 0px;
  left: 22px;
  width: 229px;
  height: 250px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Rectangle_1 {
  position: absolute;
  top: 23px;
  left: 32px;
  width: 164px;
  height: 203px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(339deg);
  -moz-transform: rotate(339deg);
  transform: rotate(339deg);
  box-shadow: 7px 7px 5px 0px #404040;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Image_1 {
  position: absolute;
  top: 35px;
  left: 36px;
  width: 148px;
  height: 154px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(339deg);
  -moz-transform: rotate(339deg);
  transform: rotate(339deg);
  box-shadow: none;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Rectangle_2 {
  position: absolute;
  top: 46px;
  left: -6px;
  width: 81px;
  height: 28px;
  background-color: #FFFECE;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/d3d1c28c-7fc3-4620-94a3-b8a5e5d44667.jpg');
  -webkit-transform: rotate(303deg);
  -moz-transform: rotate(303deg);
  transform: rotate(303deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_1 {
  position: absolute;
  top: 181px;
  left: 130px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(340deg);
  -moz-transform: rotate(340deg);
  transform: rotate(340deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: HomemadeApple-Regular,Arial;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_1 span {
  color: #0000FF;
  text-align: left;
  text-decoration: none;
  font-family: HomemadeApple-Regular,Arial;
  font-size: 18.0pt;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_1 span#rtr-s-Text_1_0 {
  color: #0000FF;
  text-align: left;
  text-decoration: none;
  font-family: HomemadeApple-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_2 {
  position: absolute;
  top: 355px;
  left: 449px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 24.0pt;
  font-family: Raleway-Bold,Arial;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_2 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Raleway-Bold,Arial;
  font-size: 24.0pt;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_2 span#rtr-s-Text_2_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Raleway-Bold,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_3 {
  position: absolute;
  top: 405px;
  left: 449px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Raleway-Regular,Arial;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_3 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Raleway-Regular,Arial;
  font-size: 20.0pt;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_3 span#rtr-s-Text_3_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Raleway-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_4 {
  position: absolute;
  top: 445px;
  left: 449px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 15.999999pt;
  font-family: Raleway-Regular,Arial;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_4 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Raleway-Regular,Arial;
  font-size: 15.999999pt;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_4 span#rtr-s-Text_4_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Raleway-Regular,Arial;
  font-size: 15.999999pt;
  line-height: 0px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Image_28 > svg {
  width: 24px;
  height: 24px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Image_28 {
  position: absolute;
  top: 493px;
  left: 449px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Image_29 > svg {
  width: 24px;
  height: 24px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Image_29 {
  position: absolute;
  top: 493px;
  left: 474px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Image_30 > svg {
  width: 24px;
  height: 24px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Image_30 {
  position: absolute;
  top: 493px;
  left: 498px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Image_31 > svg {
  width: 24px;
  height: 24px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Image_31 {
  position: absolute;
  top: 493px;
  left: 521px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Image_32 > svg {
  width: 24px;
  height: 24px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Image_32 {
  position: absolute;
  top: 493px;
  left: 545px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_5 {
  position: absolute;
  top: 578px;
  left: 449px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_5 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_5 span#rtr-s-Text_5_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_6 {
  position: absolute;
  top: 521px;
  left: 500px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_6 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_6 span#rtr-s-Text_6_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Dynamic_Panel_1 {
  position: absolute;
  top: 676px;
  left: 150px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Panel_1 {
  width: 900px;
  height: 500px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 58px;
  background-color: #434343;
  background-image: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_1 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_1 span#rtr-s-Button_1_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_2 {
  position: absolute;
  top: 0px;
  left: 300px;
  width: 300px;
  height: 58px;
  background-color: #434343;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_2 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_2 span#rtr-s-Button_2_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_3 {
  position: absolute;
  top: 0px;
  left: 599px;
  width: 300px;
  height: 58px;
  background-color: #434343;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_3 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_3 span#rtr-s-Button_3_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Panel_2 {
  width: 900px;
  height: 500px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_7 {
  position: absolute;
  top: 77px;
  left: 10px;
  width: 266px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_4 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 300px;
  height: 58px;
  background-color: #434343;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_4 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_4 span#rtr-s-Button_4_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_5 {
  position: absolute;
  top: 0px;
  left: 301px;
  width: 300px;
  height: 58px;
  background-color: #434343;
  background-image: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_5 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_5 span#rtr-s-Button_5_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_6 {
  position: absolute;
  top: 0px;
  left: 601px;
  width: 300px;
  height: 58px;
  background-color: #434343;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_6 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_6 span#rtr-s-Button_6_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Panel_3 {
  width: 900px;
  height: 500px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 58px;
  background-color: #434343;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_7 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_7 span#rtr-s-Button_7_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_8 {
  position: absolute;
  top: 0px;
  left: 300px;
  width: 300px;
  height: 58px;
  background-color: #434343;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_8 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_8 span#rtr-s-Button_8_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_9 {
  position: absolute;
  top: 0px;
  left: 600px;
  width: 300px;
  height: 58px;
  background-color: #434343;
  background-image: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_9 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_9 span#rtr-s-Button_9_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}