#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(339.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Image_1 {
  -ms-transform: rotate(339.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Rectangle_2 {
  -ms-transform: rotate(303.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_1 {
  -ms-transform: rotate(340.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_1 {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_5 {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_6 {
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_7 {
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_8 {
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e #s-Button_9 {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-abde5738-15fd-4060-82e3-82e04eb2d69e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}