body{
	padding-top:40px
}

/**Clases Generales**/
/**Centrado vertical de elementos**/
.center{
	display: table;
	height: 90vh;
	margin: 0 auto;
}

.centered{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.line-r{
	border-right: 1px solid #999;
}

.line-l{
	border-left: 1px solid #999;
}

.line-t{
	border-top: 1px solid #999;
}

/***Clases pisadas metronic***/
.page-header{
	height: 65px!important;
}

.page-header .page-header-top {
    height: 65px!important;
}

.page-header .page-header-top .page-logo{
	 height: 65px!important;
}

/********-----------********/

/**Menu**/
#menu{
	background-color: #fff;
}

/**Otro style menu**/
.menu-transparent{
	padding-top: 0px;
}

.menu-transparent #menu{
	background-color: transparent;
	border-color: transparent;
}

.menu-transparent #menu .navbar-nav>li>a{
	color: #fff;
}

.menu-transparent #menu .logo-img{
	display: none;
}

.menu-transparent #menu .logo-b-img{
	display: block;
}

/**Header**/
#header{
	position: relative;
	overflow: hidden;
	height: 95vh;
	/*background:-webkit-gradient(linear, 100% 0%, 0% 4%, from(#767bfe), to(#f172de));*/
	background: -webkit-gradient(linear, 100% 0%, 0% 4%, from(#767bfe), to(#f172de));
}

/*#header .bg-header{
	padding-top: 30px;
	background: url('../images/test.png') repeat-x;
	padding-bottom: 30px;
	min-height: 450px;
	position: relative;
}*/

#header .startaround{
	position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*#header .startback{*/
	/*background: url("../images/elements.png") repeat-x;*/
	/*animation: slide 150s linear infinite;*/
	/*background-position: center;*/
	/*position: absolute;*/
	/*width: 300vw;*/
	/*height: 100%;*/
/*}*/

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}

#header .layer{
	background-color: rgba(0,0,0,.4);
	position: absolute;
	width: 100%;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}

#header .form-bg{
	background-color: rgba(0,0,0,.3);
	padding: 25px;
	border-radius: 5px;
}

#header form .form-control{
	height: 45px;
	width: 300px;
}

#header form label{
	color: #fff
}

#header form .btn{
	margin-top: 25px;
	height: 45px;
	width: 80px
}

/**Destacados**/
#destacados-home{
	padding-top: 80px;
	padding-bottom: 80px;
}

#destacados-home .item{
	position: relative;
}

#destacados-home .item.mat{
	border-bottom: 3px solid #a51522;
}

#destacados-home .item.lengua{
	border-bottom: 3px solid #d4d624;
}

#destacados-home .datos-nombre{
	margin-top: 10px;
}

#destacados-home .datos-estrellas{
	position: absolute;
	margin-top: 15px;
	bottom: 5px;
	width: 100%;
}

/*Owl Carousel*/
#owl-demo .item{
  display: block;
  padding: 30px 0px 50px 0px;
  margin: 5px;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.owl-theme .owl-controls .owl-buttons div {
  padding: 5px 9px;
}
 
.owl-theme .owl-buttons i{
  margin-top: 2px;
}
  
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -45px;
  top: 50%; 
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -45px;
  top: 50%;
}

/**Como funciona**/
#como-funciona{
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #f6f6f6;
}

#como-funciona .funcionamiento{
	margin-top: 100px
}

#como-funciona .funcionamiento ul > li{
	min-width: 300px;
	text-align: center;
}

#como-funciona .funcionamiento .num{
	color:#767bfe;
	font-size: 80px;
	font-weight: 400;
	border: 2px solid #767bfe;
	border-radius: 50%;
	height: 100px;
	width: 120px;
	display: table;
	margin: 0 auto 20px auto;
}

#como-funciona .funcionamiento .num p{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

/**Infografia**/
#infografia{
	padding-top: 80px;
	padding-bottom: 80px;
}

#infografia h1{
	margin-bottom: 30px
}

#infografia .nosotros{
	margin-top: 80px;
}

#infografia .nosotros li{
	min-width: 250px
}

/**Descarga app**/
#apps{
	background-color: #767bfe;
	padding-top: 40px;
	padding-bottom: 40px;
}

#apps h1, #apps p{
	color: #fff
}

#apps .download{
	margin-top: 80px
}

/**Lista de profesores**/
#profesores-result,#profesor-result{
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #f5f5f5;
}

/**Footer**/
#footer{
	padding-top: 80px;
	padding-bottom: 20px;
	color: #999;
	font-size: 13px
}

#footer ul{
	padding: 0
}

#footer ul > li{
	list-style: none;
	margin-top: 10px;
}

#footer ul > li a{
	color: #999;
}

#footer .legales{
	padding-top: 30px;
	margin-top: 30px;
}
