#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Menu_Materias_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Menu_Materias_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Menu_Materias_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Divertido {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Menu_Materias {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Menu_Materias_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Line_2 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Divertido_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Menu_Nosotros {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Menu_Vision {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Menu_FAQ_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Menu_FAQ_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Marco_Lupa {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Titulo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-User_Name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Foto_Perfil {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Mensajes {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Notification_Board {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Triangulo_Fantasma {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Fondo_Piedepagina {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25) ;
  filter: alpha(opacity=25) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Logo_PIePagina {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-PdP_Desarrolladores {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-PdP_Informacion {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-PdP_Copyright {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-PdP_separador {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-PdP_DdeAutor {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-PdP_Informacion_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-PdP_Informacion_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-PdP_Informacion_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Menu_FAQ {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Triangulo_Fantasma_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}