#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_22 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9396926207859084,M12=-0.3420201433256687,M21=0.3420201433256687,M22=0.9396926207859084);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9396926207859084,M12=-0.3420201433256687,M21=0.3420201433256687,M22=0.9396926207859084);
  margin-left: -10px;
  margin-top: -11px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_23 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9396926207859084,M12=-0.3420201433256687,M21=0.3420201433256687,M22=0.9396926207859084);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9396926207859084,M12=-0.3420201433256687,M21=0.3420201433256687,M22=0.9396926207859084);
  margin-left: -10px;
  margin-top: -11px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Image_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a5bd3a-bc8e-4250-862a-5375e6ef7d4c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}