#s-d0143e1e-5d32-48cd-9231-81e984d8be82 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d0143e1e-5d32-48cd-9231-81e984d8be82 #s-Rectangle_1 {
  -pie-background: linear-gradient(to right,#0000FF,#699CFC);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-d0143e1e-5d32-48cd-9231-81e984d8be82 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d0143e1e-5d32-48cd-9231-81e984d8be82 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}