@basefont: 'roboto', sans-serif;
@secondfont: 'roboto_slab', sans-serif;
@basecolor: #a751fe;
@path: '../images';

body{
	padding-top: 70px;
	font-family: @basefont;
	font-weight: 400;
}

body.admin{
	padding-top: 0px;
	.navbar{
		margin-bottom: 0px;
	}
}

.center{
	display: table;
	margin: 0 auto;
}

.centered{
	display: table-cell;
	vertical-align:middle;
}

.line-r(@1px :1px solid #aaaaaa){
	border-right: @1px;
}

.line-l{
	border-left: 1px solid #aaaaaa;
}

.line-t{
	border-top: 1px solid #aaaaaa;
}

.line-b{
	border-bottom: 1px solid #aaaaaa;
}

.mbottom-0{
	margin-bottom: 0px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus,.btn.active, .btn:active {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    box-shadow: none;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: transparent;
}

a,a:hover,a:focus{
	color: #333333;
}

.nav>li>a:focus, .nav>li>a:hover{
	background-color: rgba(243,232,255,.5);
}

.highlight{
	color: @basecolor;
}

.underline{
	border-bottom: 4px solid @basecolor;
	padding-bottom: 5px;
}

*:focus{
	outline: 0;
}

ul{
	list-style-type: none;
}

.img{
	border: 2px solid @basecolor;
}

.separator{
	background-color: @basecolor;
	color: #fff;
	font-size: 20px;
	padding: 15px 0px;
	font-weight: 400;
	@media (min-width: 768px){
		font-size: 24px;
		padding: 24px 0px;
	}
}

.btn-aprentio{
	background-color: @basecolor;
	padding: 10px 30px;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	border-radius: 0px;
	&:hover,&:focus{
		color: #fff;
	}
}

.datos-estrellas{
	li{
		padding-right:0px;
		padding-left:0px;
	}
	.glyphicon-star{
		font-size: 16px;
		&.full{
			color: #fbd00a;
		}
	}
}

h1{
	font-family: @secondfont;
	font-size: 30px;
	text-transform: uppercase;
	@media (min-width: 768px){
		font-size: 40px;
	}
}

#menu{
	padding-top: 18px;
	height: 70px;
	color: #333333;
	font-size: 14px;
	background-color: #fff;
	.navbar-toggle{
		margin-top: 0px;
		border: 0px;
		margin-right: 0px;
		&:hover,&:focus{
			background: transparent;
		}
	}
	.icn-search{
		background-image: url('@{path}/icn-search.png');
		height: 24px;
		width: 24px;
		vertical-align: middle;
	}
	.search-menu{
		text-align: center;
		margin: 0;
		border: 0px;
		.form-group{
			width: 100%;
		}
		.form-control{
			width: 100%;
			//border: 0px;
			height: 41px;
		}
		.inner-addon {
			position: relative;
		}
		.inner-addon .icn-search {
			position: absolute;
			top: 9px;
			right: 9px;
			pointer-events: none;
		}
	}
	.ingresa-xs{
		margin-top: 3px;
		margin-right: 10px;
		border: 1px solid #847f7f;
		border-radius: 4px;
		padding: 2px 10px;
		a{
			font-size: 13px;
			color: #847f7f;
		}
	}
	.navbar-brand{
		padding: 0;
		margin-top: -5px;
		@media (min-width: 768px){
			padding: 1px 15px;
		}
	}
	.menu-xs{
		background-color: #fff;
		margin-right: -15px;
		margin-left: -15px;
		@media (min-width: 768px){
			margin-right: 0px;
			margin-left: 0px;
		}
	}
	.avatar{
		margin-top: -5px;
	}
	#menu-collapse{
		li{
			a{
				padding-top: 5px;
				padding-bottom: 5px;
				@media (min-width: 768px){
					&:not(.last){
						.line-r;
					}
				}
			}
		}
	}
}

#header{
	background-image: url('@{path}/bg-header2.jpg');
	background-size: cover;
	color: #ffffff;
	.center{
		margin-top: 0px;
		width: 100%;
		@media (min-width: 768px){
			margin-top: -50px;
			width: auto;
		}
	}
	h1{
		font-size: 30px;
		margin-bottom: 20px;
		@media (min-width: 768px){
			font-size: 40px;
			margin-bottom: 50px;
		}
	}
	.form-search{
		background-color: #ffffff;
		padding: 20px 15px;
		border-radius: 4px;
		@media (min-width: 768px){
			padding: 50px 40px;
		}
		.form-group{
			width: 100%;
			margin-right: 0px;
			margin-left: 0px;
			@media (min-width: 768px){
				width: 270px;
				margin-right: 10px;
				margin-left: 10px;
			}
			@media (min-width: 992px){
				width: 385px;
			}
			.form-control{
				width: 100%;
			    border-top: 0px;
			    border-right: 0px;
			    border-left: 0px;
			    border-radius: 0px;
			    box-shadow: none;
			}
		}
		.btn-search{
			background-image: url('@{path}/icn-btnsearch.png');
			width: 41px;
			height: 40px;
			background-color: transparent;
			border: 0;
		}
	}
}

#destacados-home{
	background-color: @basecolor;
	padding-top: 40px;
	padding-bottom: 90px;
	@media (min-width: 768px){
		padding-top: 60px;
		padding-bottom: 60px;
	}
	h1{
		margin-bottom: 50px;
		color: #ffffff;
		@media (min-width: 768px){
			margin-bottom: 90px;
		}
	}
	.prof{
		font-size: 18px;
		text-align: left;
		max-width: 225px;
		margin: 0 auto;
		.nombre{
			color: #343434;
			font-size: 18px;
			margin-bottom: 15px;
			margin-top: 20px;
		}
		.materia{
			color: @basecolor;
			margin-bottom: 20px;
			font-weight: 700;
			text-transform: uppercase;
		}
		.ubicacion{
			color: #343434;
			margin-bottom: 10px;
		}
		.precio{
			color: @basecolor;
			font-weight: 700;
			font-size: 20px;
			margin-bottom: 20px;
		}
		a{
			&:hover{
				text-decoration: none
			}
			&:focus{
				text-decoration: none
			}
		}
		.thumbnail{
			padding: 15px;
		}
	}
	#owl-demo .item{
		padding: 0px;
		border: 0px;
		margin-right: 15px;
		margin-left: 15px;
	}
}

#como-funciona{
	margin-top:40px;
	margin-bottom: 70px;
	position: relative;
	min-height: auto;
	text-align: center;
	@media (min-width: 768px){
		margin-top:60px;
		margin-bottom: 90px;
	}
	@media (min-width: 992px){
		text-align: left;
		min-height: 550px;
	}
	h1{
		margin-bottom: 50px;
		text-align: center;
		span{
			color: @basecolor;
		}
		@media (min-width: 768px){
			margin-bottom: 80px;
		}
	}
	.funcionamiento{
		font-size: 17px;
		margin-left:30px;
		@media (min-width: 992px){
			margin-left:70px;
			margin-top:40px;
		}
		@media (min-width: 1200px){
			margin-left:30px;
		}
		ul{
			li{
				vertical-align: top;
				margin-right: 0px;
				text-align: center;
				width: 100%;
				@media (min-width: 768px){
					margin-right: 30px;
					width: auto;
				}
				&:not{
					&:first-child{
						margin-left: 0px;
						@media (min-width: 768px){
							margin-left: 30px;
						}
					}
				}
			}
		}
		.num{
			color: @basecolor;
			font-size: 100px;
			opacity: .2;
			font-weight: 700;
			letter-spacing: -7px;
		}
	}
	.home-pc{
		position: absolute;
		left: -350px;
		top: 120px;
		@media (min-width: 992px){
			left: -325px;
		}
		@media (min-width: 1200px){
			left: -265px;
		}
	}
}

#infografia{
	background-color: #f9f9f9;
	padding-top: 40px;
	padding-bottom: 80px;
	text-align: center;
	@media (min-width: 768px){
		padding-top: 70px;
		padding-bottom: 250px;
		text-align: left;
	}
	h1{
		margin-bottom: 50px;
		span{
			color: @basecolor;
		}
		@media (min-width: 768px){
			margin-bottom: 140px;
		}
	}
	.nosotros{
		margin-top: 80px;
		.nombre{
			font-size: 16px;
			margin-bottom: 5px;
			margin-top: 5px;
		}
		.puesto{
			font-size: 16px;
			color: @basecolor;
		}
	}
}

#apps{
	padding-top: 40px;
	padding-bottom: 70px;
	background: #fa77d9; /* Old browsers */
	background: -moz-linear-gradient(left, #fa77d9 19%, #58a0fe 100%, #2989d8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #fa77d9 19%,#58a0fe 100%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #fa77d9 19%,#58a0fe 100%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa77d9', endColorstr='#2989d8',GradientType=1 ); /* IE6-9 */
	position: relative;
	text-align: center;
	@media (min-width: 768px){
		padding-top: 80px;
		padding-bottom: 90px;
	}
	@media (min-width: 992px){
		text-align: left;
	}
	h1{
		font-size: 25px;
		margin-bottom: 30px;
		color:#ffffff;
		@media (min-width: 768px){
			font-size: 35px;
			margin-bottom: 50px;
		}
	}
	.download{
		ul{
			li{
				margin-bottom: 15px;
				width: 100%;
				margin-bottom: 15px;
				@media (min-width: 768px){
					width: auto;
				}
				img{
					height: 55px;
					@media (min-width: 768px){
						height: auto;
					}
				}
			}
		}
	}
	.home-cel{
		position: absolute;
		bottom: 0px;
		left: 0px;
		@media (min-width: 768px){
			left: -50px;
		}
		@media (min-width: 992px){
			left: -100px;
		}
		@media (min-width: 1200px){
			left: 0px;
		}
	}
}

/**FAQS**/
#faqs{
	.panel{
		margin-bottom: 20px;
		box-shadow: none;
		.panel-title{
			font-size:20px;
			a{
				&:hover{
					text-decoration: none;
				}
			}
			&:not(.collapsed){
				.icn {
					&:after {
						content: "\e260";
						display: inline-block;
					}
				}
			}
			.collapsed{
				.icn{
					&:after{
						content: "\e259";
						display: inline-block;
					}
				}
			}
		}
	}
	.sub-collapse{
		margin-left: 20px;
	}
}

/*Profesores**/
#profesores-result{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f8f8f8;
	@media (min-width: 768px){
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.line-b{
		margin-bottom: 20px;
	}
	#filters{
		background-color: #eeeeee;
		margin-right: -15px;
		margin-left: -15px;
		padding: 30px 15px;
		h4{
			font-size: 16px;
		}
		.filters{
			margin-bottom: 30px;
			h4{
				color: #333333;
				font-size: 16px;
				font-family: @basefont;
			}
			a{
				color: @basecolor;
			}
			.filter-result{
				color: #615f5f;
			}
		}
	}
	.view{
		margin-left: 2px;
		margin-right: 2px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.filter-sort{
		margin-top: 10px;
		margin-bottom: 10px;
		.form-control{
			border:0px;
			height: auto;
			box-shadow: none;
		}
	}
	#professorsList{
		text-align: center;
		@media (min-width: 768px){
			text-align: left;
		}
		.prof{
			min-width: 145px;
			text-align: left;
			margin: 0px 0px 20px 0px;
			font-size: 13px;
			vertical-align: top;
			max-height: 322px;
			@media (min-width: 768px){
				min-width: 220px;
				font-size: 15px;
				margin: 0 7px 20px 7px;
				max-height: 365px;
			}
			.nombre{
				color: #343434;
				font-size: 13px;
				margin-bottom: 20px;
				margin-top: 20px;
				@media (min-width: 768px){
					font-size: 15px;
				}
			}
			.materia{
				color: @basecolor;
				margin-bottom: 10px;
			}
			.ubicacion{
				color: #343434;
				margin-bottom: 10px;
			}
			.precio{
				color: @basecolor;
				font-weight: 700;
				font-size: 20px;
				margin-bottom: 20px;
			}
			a{
				&:hover{
					text-decoration: none;
				}
			}
			.thumbnail{
				border: 0px;
			}
			.caption{
				padding: 0px;
			}
		}
		&.detail-view{
			.prof{
				display: block;
				text-align: left;
				.img{
					margin: 0;
					float: left;
				}
				.thumbnail{
					padding: 15px;
				}
				.caption{
					margin-left: 120px;
				}
				.nombre{
					margin-bottom: 5px;
				}
				.ubicacion{
					margin-bottom: 5px;
					display: none;
					@media (min-width: 768px){
						display: block;
					}
				}
				.datos-estrellas{
					display: none;
					@media (min-width: 768px){
						display: block;
					}
				}
				.precio{
					margin-bottom: 0px;
				}
				.precio-d{
					display:block;
					@media (min-width: 768px){
						display:none;
					}
				}
				.precio-u{
					display:none;
					@media (min-width: 768px){
						display:block;
					}
				}
				.ub-pr{
					float: right;
					clear: both;
					margin-top: -90px;
				}
			}
		}
		&.block-view{
			.prof{
				display: inline-block;
				text-align: left;
				.img{
					margin: 0 auto;
				}
				.thumbnail{
					padding: 5px;
					@media (min-width: 768px){
						padding: 18px 24px;
					}
					.precio-d{
						display:none;
						@media (min-width: 768px){
							display:none;
						}
					}
					.precio-u{
						display:block;
						@media (min-width: 768px){
							display:block;
						}
					}
				}
			}
		}
	}
}

#profesor-result{
	background-color: #f9f9f9;
	padding-top:25px;
	padding-bottom:25px;
	.profesor-details{
		background-color: #fff;
		padding: 20px;
		text-align: center;
		@media (min-width: 768px){
			text-align: left;
		}
		ul{
			li{
				vertical-align: middle;
			}
		}
		.nombre{
			font-size: 22px;
		}
		.materia{
			font-size: 22px;
		}
		.estrellas-content{
			float: none;
			margin-top: 30px;
			@media (min-width: 768px){
				float: right;
			}
			.datos-estrellas{
				.glyphicon-star{
					font-size: 22px;
				}
			}
		}
		.detail{
			margin-top: 30px;
			font-size: 14px;
			color: #333333;
			@media (min-width: 768px){
				margin-top: 60px;
			}
			li{
				width: 100%;
				margin-bottom: 15px;
				@media (min-width: 768px){
					width: 33%;
				}
			}
			.precio{
				font-size: 20px;
				color: @basecolor;
				font-weight: 700;
			}
		}
		.info{
			margin-top: 25px;
			h4{
				font-size: 16px;
				display: inline-block;
				margin-top: 35px;
			}
			.info-text{
				font-size: 13px;
			}
			.materias-list{
				padding-left: 20px;
				span{
					color: @basecolor;
					font-size: 18px;
				}
			}
		}
	}
	.boton{
		margin-top: 30px;
		margin-bottom: 40px;
		.btn-aprentio{
			width: 250px;
			@media (min-width: 768px){
				width: 265px;
			}
		}
	}
	.profesor-book{
		background-color: #fff;
		padding: 20px;
		h3{
			font-weight: 700;
			font-size: 50px;
			color: @basecolor;
			text-align: center;
		}
	}
}

#footer{
	padding-top: 40px;
	padding-bottom: 20px;
	color: #999;
	font-size: 13px;
	@media (min-width: 768px){
		padding-top: 80px;
	}
	ul{
		padding: 0;
		> li{
			list-style: none;
			margin-top: 10px;
			a{
				color: #999;
			}
		}
	}
	.legales{
		padding-top: 20px;
		margin-top: 20px;
		@media (min-width: 768px){
			padding-top: 30px;
			margin-top: 30px;
		}
	}
}

.modal-aprentio{
	&.modal-reserva{
		.modal-dialog {
			width: auto;
			@media (min-width: 768px){
				width: 400px;
			}
		}
		.modal-body{
			padding: 15px;
			@media (min-width: 768px){
				padding: 0px;
			}
			.close{
				margin-top: -17px !important;
				margin-right: 0px;
				display: block;
				@media (min-width: 768px){
					margin-top: -25px!important;
					margin-right: 10px;
				}
			}
		}
		ul{
			margin-left: 0px;
		}
		.content{
			margin-top: 0px;
			@media (min-width: 768px){
				margin-top: 30px;
			}
		}
		.opts{
			li{
				&.active{
					border-bottom: 3px solid @basecolor;
				}
				&:not(.active){
					border-bottom: 3px solid #ccc;
				}
			}
		}
		.btn-aprentio{
			padding: 5px 45px;
			font-size: 17px;
		}
		.btn-cancel{
			display: none!important;
		}
		.modal-footer{
			text-align: center;
		}
		.nav-tabs.nav-justified>li>a{
			border: 0px;
		}
		form{
			padding: 0px;
			max-width: 300px;
			margin: 20px auto;
			.form-group{
				margin-bottom: 15px;
				.form-control{
					box-shadow: none;
				}
			}
		}
	}
}

.page-header{
	height: 75px;
}
#admin{
	background-color: #f9f9f9;
	padding-top: 20px;
	.portlet{
		background-color: #fff;
		margin-top: 0;
		margin-bottom: 25px;
		padding: 0;
		border-radius: 4px;
		padding: 30px 0 0;
		.profile-usertitle {
			text-align: center;
			margin-top: 20px;
			.profile-usertitle-name {
				color: #5a7391;
				font-size: 20px;
				font-weight: 600;
				margin-bottom: 7px;
			}
			.profile-usertitle-job {
				text-transform: uppercase;
				color: #5b9bd1;
				font-size: 13px;
				font-weight: 800;
				margin-bottom: 7px;
			}
			.profile-usermenu {
				margin-top: 30px;
				padding-bottom: 20px;
				ul li {
					border-bottom: 1px solid #f0f4f7;
				}
			}
		}
	}
}


/**Owl Carousel**/
#owl-demo .item{
  display: block;
  padding: 30px 0px 50px 0px;
  margin: 5px;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background-color: #000;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

.owl-theme .owl-controls .owl-page.active span {
    background-color: #FFF;
}
